body{
    background-color: lightblue;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%; 
  }

  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
  }
.container{
    text-align: center;
}
div{
    text-align: center;
    background-color: whitesmoke; 
    border-radius: 3%;
    padding-left: 0%;
    padding-right: 0%;
    width: 30%;
    margin:auto;
}

#photo{
    width: 100%;
    height: 100%;
    float: center;
    background-color:whitesmoke;
    object-fit: cover;
    border-radius: 3%;
}

p{
    font-family:Calibri
}

#inline{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

span{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

li{
  display: inline-block;
  border-right: 1px solid #bbb
}

ul {
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
border: 1px solid #e7e7e7;
background-color: #f3f3f3;
padding-right:0%;
margin-right:0%;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}